# Node modules
node_modules/

# .env file
.env

# Package lock file
package-lock.json

# Database files
backend/src/database/

# Vulnerability scripts
backend/src/utils/createAdmin.js

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db